:root {
    font-family: monospace;
}


h1 {
    text-align: center;
}

#stats {
    text-align: right;
    margin: 1rem;
}

#buttons {
    text-align: center;
    margin: 1rem;
}

textarea {
    margin: 0 auto;
    max-width: 100%;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 12px;
}


#container {
    margin: auto;
    width: 50%;
}

