:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

/* #stats {
  font-size: 0.7rem;
  text-align: right;
  margin: 1rem;
} */


#editor {
  border: 3px solid lightgray;
  border-radius: 0.2rem;
  margin: 0 auto;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 12px;
  overflow: auto;
  width: auto;
  height: auto;
  min-width: 30rem;
  min-height: 30rem;
  /* display: table; */
}

#container {
  margin: auto;
  width: 50%;
}
